<div class="container px-5 px-sm-0 mt-3 text-center">
  
  <h3>記事の編集</h3>
    <% if @post.errors.full_messages.present? %>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  
    <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size:"400x400" %>
        <% end %>
      <br>
      <%= f.file_field :image, accept: "image/*" %>
      <br>
      <br>
      <h6>アルバム名</h6>
        <%= f.text_field :album_name %>
      <h6>歌手名</h6>
        <%= f.text_field :singer_name %>
      <h6>説明</h6>
        <%= f.text_area :body, rows: "10", cols: "50"%>
      <%= f.submit '保存', class:"btn btn-success" %>
    <% end %>
    <br>

    <p><%= link_to "戻る", post_path, class:"btn btn-light" %></p>
</div>
